{% extends 'bootstrap/base.html' %}

{% block title %}
    {{ title}}Wunderbard
{% endblock %}

<!-----------------------------------new navbar------------------------------------>
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">Wunderbard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Home<span class="sr-only">(current)</span></a>
      </li>
      {% if current_user.is_anonymous %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="{{ url_for('bards') }}">Bards</a>
      </li>
      {% else %}
           <li class="nav-item">
        <a class="nav-link" href="{{ url_for('bards') }}">Bards</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="{{ url_for('newBards') }}">Create-Bard</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="{{ url_for('event') }}">events</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="{{ url_for('venue') }}">Create-Venue</a>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      </li>
      {% endif %}

      </li>
    </ul>
  </div>
</nav>
{% endblock %}
<!-----------------------------------end new navbar------------------------------------>




{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>



            {% endfor %}
        {% else %}
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

<!-------------------------------------------------------------->



