<html>
<head>


    <title>{{ title}}Wunderbard</title>


</head>
<body>
<div><b><a href="{{ url_for('index') }}">Wunderbard:</a></b>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('newBards') }}">New Bards</a>
        <a href="{{ url_for('event') }}">Event</a>
        <a href="{{ url_for('venue') }}">Venue</a>
        {% endif %}
            <a href="{{ url_for('bards') }}">Bards</a>

</div>
  <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            <h1>{{ form.data.bardName }}</h1>
            <h2>{{ form.data.villageName }}</h2>
           <h4>{{ form.data.bardDescription }}</h4>
            {% endfor %}
            {% else %}
            {% block content %}{% endblock %}



          {% endif %}
        {% endwith %}
        </ul>



</body>
</html>
