{% extends "base.html" %}

{% block content %}
    <h1>Create New Bard</h1>
    <form action="" method="post" novalidate>
    {{  form.hidden_tag() }}
    <p>
        {{ form.bardName.label }}<br>
        {{  form.bardName(size=32) }}<br>
        {% for error in form.bardName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

    </p>
    <p>
        {{  form.villageName.label }}<br>
        {{  form.villageName(size=48) }}<br>
         {% for error in form.villageName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

    </p>

    <p>
        {{ form.bardDescription.label }}<br>
        {{ form.bardDescription(size=500) }}
         {% for error in form.villageName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

    </p>

    <p>{{ form.submit() }}</p>


    </form>

{% endblock %}